<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" shutdownHook="true">
	<!--
	shutdownHook 默认是true
	-->

	<Properties>
		<Property name="a" value="b"/>
		<Property name="a">b</Property>
	</Properties>

	<!--<ThresholdFilter level="trace"/>-->

	<Appenders>
		<!--输出到控制台-->
		<Console name="Console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<!--<Filters>-->
				<!--<Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
				<!--<Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>-->
			<!--</Filters>-->
		</Console>

		<!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
		<RollingFile name="RollingFile" fileName="logs/app.log"
		             filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
			<SizeBasedTriggeringPolicy size="50MB"/>
			<!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="com.xzchaoo" level="trace" additivity="false">
			<!--<ThreadContextMapFilter>-->
				<!--<KeyValuePair key="test" value="123"/>-->
			<!--</ThreadContextMapFilter>-->

			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFile"/>
		</Logger>
		<root level="info">
			<AppenderRef ref="Console"/>
		</root>
	</Loggers>

</Configuration>